openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Gift Message Guest Cart Repository V1 API
  description: Interface GuestCartRepositoryInterface
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: giftMessageGuestCartRepositoryV1
  description: Interface GuestCartRepositoryInterface
paths:
  /V1/guest-carts/{cartId}/gift-message:
    get:
      tags:
      - giftMessageGuestCartRepositoryV1
      description: Return the gift message for a specified order.
      operationId: GetV1GuestcartsCartIdGiftmessage
      parameters:
      - name: cartId
        in: path
        required: true
        description: The shopping cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gift-message-data-message-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/gift-message-data-message-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 guestcarts cart id giftmessage
      x-summary-source: derived
    post:
      tags:
      - giftMessageGuestCartRepositoryV1
      description: Set the gift message for an entire order.
      operationId: PostV1GuestcartsCartIdGiftmessage
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - giftMessage
              properties:
                giftMessage:
                  $ref: '#/components/schemas/gift-message-data-message-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - giftMessage
              properties:
                giftMessage:
                  $ref: '#/components/schemas/gift-message-data-message-interface'
              type: object
              xml:
                name: request
      summary: Post V1 guestcarts cart id giftmessage
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    gift-message-data-message-interface:
      type: object
      description: Interface MessageInterface
      properties:
        gift_message_id:
          type: integer
          description: Gift message ID. Otherwise, null.
        customer_id:
          type: integer
          description: Customer ID. Otherwise, null.
        sender:
          type: string
          description: Sender name.
        recipient:
          type: string
          description: Recipient name.
        message:
          type: string
          description: Message text.
        extension_attributes:
          $ref: '#/components/schemas/gift-message-data-message-extension-interface'
      required:
      - sender
      - recipient
      - message
    gift-message-data-message-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\GiftMessage\Api\Data\MessageInterface
      properties:
        entity_id:
          type: string
        entity_type:
          type: string
        wrapping_id:
          type: integer
        wrapping_allow_gift_receipt:
          type: boolean
        wrapping_add_printed_card:
          type: boolean
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
