openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Pay Pal Braintree Auth V1 API
  description: Interface AuthInterface
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: payPalBraintreeAuthV1
  description: Interface AuthInterface
paths:
  /V1/applepay/auth:
    get:
      tags:
      - payPalBraintreeAuthV1
      description: Returns details required to be able to submit a payment with apple pay.
      operationId: GetV1ApplepayAuth
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pay-pal-braintree-data-auth-data-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/pay-pal-braintree-data-auth-data-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 applepay auth
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    pay-pal-braintree-data-auth-data-interface:
      type: object
      description: Interface AuthDataInterface
      properties:
        client_token:
          type: string
          description: Client token
        display_name:
          type: string
          description: Display name
        action_success:
          type: string
          description: To success page
        logged_in:
          type: boolean
        store_code:
          type: string
          description: Current store code
      required:
      - display_name
      - action_success
      - logged_in
      - store_code
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
