openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Magefan Blog Tag Management V1 API
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: magefanBlogTagManagementV1
  description: ''
paths:
  /V1/blog/tag/view/{id}/{store_id}:
    get:
      tags:
      - magefanBlogTagManagementV1
      description: Get item by id and store id, only if item published
      operationId: GetV1BlogTagViewIdStore_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: storeId
        in: query
        required: true
        schema:
          type: integer
      - name: store_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 blog tag view id store id
      x-summary-source: derived
  /V1/blog/tag/list/{type}/{term}/{store_id}/{page}/{limit}:
    get:
      tags:
      - magefanBlogTagManagementV1
      description: Retrieve list by page type, term, store, etc
      operationId: GetV1BlogTagListTypeTermStore_idPageLimit
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
      - name: term
        in: path
        required: true
        schema:
          type: string
      - name: storeId
        in: query
        required: true
        schema:
          type: integer
      - name: page
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: path
        required: true
        schema:
          type: integer
      - name: store_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 blog tag list type term store id page limit
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
