openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Gift Registry Guest Cart Shipping Method…
  description: Interface ShippingMethodManagementInterface
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: giftRegistryGuestCartShippingMethodManagementV1
  description: Interface ShippingMethodManagementInterface
paths:
  /V1/guest-giftregistry/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - giftRegistryGuestCartShippingMethodManagementV1
      description: Estimate shipping
      operationId: PostV1GuestgiftregistryCartIdEstimateshippingmethods
      parameters:
      - name: cartId
        in: path
        required: true
        description: The shopping cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: array
                description: An array of shipping methods.
                items:
                  $ref: '#/components/schemas/quote-data-shipping-method-interface'
            application/xml:
              schema:
                type: array
                description: An array of shipping methods.
                items:
                  $ref: '#/components/schemas/quote-data-shipping-method-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - registryId
              properties:
                registryId:
                  type: integer
                  description: The estimate registry id
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - registryId
              properties:
                registryId:
                  type: integer
                  description: The estimate registry id
              type: object
              xml:
                name: request
      summary: Post V1 guestgiftregistry cart id estimateshippingmethods
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    quote-data-shipping-method-interface:
      type: object
      description: Interface ShippingMethodInterface
      properties:
        carrier_code:
          type: string
          description: Shipping carrier code.
        method_code:
          type: string
          description: Shipping method code.
        carrier_title:
          type: string
          description: Shipping carrier title. Otherwise, null.
        method_title:
          type: string
          description: Shipping method title. Otherwise, null.
        amount:
          type: number
          description: Shipping amount in store currency.
        base_amount:
          type: number
          description: Shipping amount in base currency.
        available:
          type: boolean
          description: The value of the availability flag for the current shipping method.
        extension_attributes:
          $ref: '#/components/schemas/quote-data-shipping-method-extension-interface'
        error_message:
          type: string
          description: Shipping Error message.
        price_excl_tax:
          type: number
          description: Shipping price excl tax.
        price_incl_tax:
          type: number
          description: Shipping price incl tax.
      required:
      - carrier_code
      - method_code
      - amount
      - base_amount
      - available
      - error_message
      - price_excl_tax
      - price_incl_tax
    quote-data-shipping-method-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\ShippingMethodInterface
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
