openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Directory Country Information Acquirer…
  description: Country information acquirer interface
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: directoryCountryInformationAcquirerV1
  description: Country information acquirer interface
paths:
  /V1/directory/countries:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get all countries and regions information for the store.
      operationId: GetV1DirectoryCountries
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/directory-data-country-information-interface'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/directory-data-country-information-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 directory countries
      x-summary-source: derived
  /V1/directory/countries/{countryId}:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get country and region information for the store.
      operationId: GetV1DirectoryCountriesCountryId
      parameters:
      - name: countryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directory-data-country-information-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/directory-data-country-information-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 directory countries country id
      x-summary-source: derived
components:
  schemas:
    directory-data-region-information-interface:
      type: object
      description: Region Information interface.
      properties:
        id:
          type: string
          description: Region id
        code:
          type: string
          description: Region code
        name:
          type: string
          description: Region name
        extension_attributes:
          $ref: '#/components/schemas/directory-data-region-information-extension-interface'
      required:
      - id
      - code
      - name
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    directory-data-region-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\RegionInformationInterface
    directory-data-country-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\CountryInformationInterface
    directory-data-country-information-interface:
      type: object
      description: Country Information interface.
      properties:
        id:
          type: string
          description: The country id for the store.
        two_letter_abbreviation:
          type: string
          description: The country 2 letter abbreviation for the store.
        three_letter_abbreviation:
          type: string
          description: The country 3 letter abbreviation for the store.
        full_name_locale:
          type: string
          description: The country full name (in store locale) for the store.
        full_name_english:
          type: string
          description: The country full name (in English) for the store.
        available_regions:
          type: array
          description: The available regions for the store.
          items:
            $ref: '#/components/schemas/directory-data-region-information-interface'
        extension_attributes:
          $ref: '#/components/schemas/directory-data-country-information-extension-interface'
      required:
      - id
      - two_letter_abbreviation
      - three_letter_abbreviation
      - full_name_locale
      - full_name_english
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
