openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Quote Guest Cart Item Repository V1 API
  description: Cart Item repository interface for guest carts.
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: quoteGuestCartItemRepositoryV1
  description: Cart Item repository interface for guest carts.
paths:
  /V1/guest-carts/{cartId}/items:
    get:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: List items that are assigned to a specified cart.
      operationId: GetV1GuestcartsCartIdItems
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: array
                description: Array of items.
                items:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema:
                type: array
                description: Array of items.
                items:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 guestcarts cart id items
      x-summary-source: derived
    post:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add/update the specified cart item.
      operationId: PostV1GuestcartsCartIdItems
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/quote-data-cart-item-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
      summary: Post V1 guestcarts cart id items
      x-summary-source: derived
  /V1/guest-carts/{cartId}/items/{itemId}:
    put:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add/update the specified cart item.
      operationId: PutV1GuestcartsCartIdItemsItemId
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/quote-data-cart-item-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
      summary: Put V1 guestcarts cart id items item id
      x-summary-source: derived
    delete:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Remove the specified item from the specified cart.
      operationId: DeleteV1GuestcartsCartIdItemsItemId
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      - name: itemId
        in: path
        required: true
        description: The item ID of the item to be removed.
        schema:
          type: integer
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Delete V1 guestcarts cart id items item id
      x-summary-source: derived
components:
  schemas:
    gift-card-data-gift-card-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\GiftCard\Api\Data\GiftCardOptionInterface
      properties:
        giftcard_created_codes:
          type: array
          items:
            type: string
    quote-data-product-option-interface:
      type: object
      description: Product option interface
      properties:
        extension_attributes:
          $ref: '#/components/schemas/quote-data-product-option-extension-interface'
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    grouped-product-data-grouped-options-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\GroupedProduct\Api\Data\GroupedOptionsInterface
    quote-data-cart-item-interface:
      type: object
      description: Interface CartItemInterface
      properties:
        item_id:
          type: integer
          description: Item ID. Otherwise, null.
        sku:
          type: string
          description: Product SKU. Otherwise, null.
        qty:
          type: number
          description: Product quantity.
        name:
          type: string
          description: Product name. Otherwise, null.
        price:
          type: number
          description: Product price. Otherwise, null.
        product_type:
          type: string
          description: Product type. Otherwise, null.
        quote_id:
          type: string
          description: Quote id.
        product_option:
          $ref: '#/components/schemas/quote-data-product-option-interface'
        extension_attributes:
          $ref: '#/components/schemas/quote-data-cart-item-extension-interface'
      required:
      - qty
      - quote_id
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    catalog-data-custom-option-interface:
      type: object
      description: Interface CustomOptionInterface
      properties:
        option_id:
          type: string
          description: Option id
        option_value:
          type: string
          description: Option value
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-custom-option-extension-interface'
      required:
      - option_id
      - option_value
    sales-rule-data-discount-data-interface:
      type: object
      description: Discount Data Interface
      properties:
        amount:
          type: number
          description: Amount
        base_amount:
          type: number
          description: Base Amount
        original_amount:
          type: number
          description: Original Amount
        base_original_amount:
          type: number
          description: Base Original Amount
      required:
      - amount
      - base_amount
      - original_amount
      - base_original_amount
    bundle-data-bundle-option-interface:
      type: object
      description: Interface BundleOptionInterface
      properties:
        option_id:
          type: integer
          description: Bundle option id.
        option_qty:
          type: integer
          description: Bundle option quantity.
        option_selections:
          type: array
          description: Bundle option selection ids.
          items:
            type: integer
        extension_attributes:
          $ref: '#/components/schemas/bundle-data-bundle-option-extension-interface'
      required:
      - option_id
      - option_qty
      - option_selections
    framework-data-image-content-interface:
      type: object
      description: Image Content data interface
      properties:
        base64_encoded_data:
          type: string
          description: Media data (base64 encoded content)
        type:
          type: string
          description: MIME type
        name:
          type: string
          description: Image name
      required:
      - base64_encoded_data
      - type
      - name
    sales-rule-data-rule-discount-interface:
      type: object
      description: Rule discount Interface
      properties:
        discount_data:
          $ref: '#/components/schemas/sales-rule-data-discount-data-interface'
        rule_label:
          type: string
          description: Rule Label
        rule_i_d:
          type: integer
          description: Rule ID
      required:
      - discount_data
      - rule_label
      - rule_i_d
    configurable-product-data-configurable-item-option-value-interface:
      type: object
      description: Interface ConfigurableItemOptionValueInterface
      properties:
        option_id:
          type: string
          description: Option SKU
        option_value:
          type: integer
          description: Item id
        extension_attributes:
          $ref: '#/components/schemas/configurable-product-data-configurable-item-option-value-extension-interface'
      required:
      - option_id
    downloadable-data-downloadable-option-interface:
      type: object
      description: Downloadable Option
      properties:
        downloadable_links:
          type: array
          description: The list of downloadable links
          items:
            type: integer
      required:
      - downloadable_links
    quote-data-cart-item-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\CartItemInterface
      properties:
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface'
    catalog-data-custom-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\CustomOptionInterface
      properties:
        file_info:
          $ref: '#/components/schemas/framework-data-image-content-interface'
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    grouped-product-data-grouped-options-interface:
      type: object
      description: Represents `product item id with qty` of a grouped product.
      properties:
        id:
          type: integer
          description: Associated product id
        qty:
          type: integer
          description: Associated product qty
        extension_attributes:
          $ref: '#/components/schemas/grouped-product-data-grouped-options-extension-interface'
    bundle-data-bundle-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Bundle\Api\Data\BundleOptionInterface
    gift-card-data-gift-card-option-interface:
      type: object
      description: Interface GiftCardOptionInterface
      properties:
        giftcard_amount:
          type: string
          description: Gift card amount.
        custom_giftcard_amount:
          type: number
          description: Gift card open amount value.
        giftcard_sender_name:
          type: string
          description: Gift card sender name.
        giftcard_recipient_name:
          type: string
          description: Gift card recipient name.
        giftcard_sender_email:
          type: string
          description: Gift card sender email.
        giftcard_recipient_email:
          type: string
          description: Gift card recipient email.
        giftcard_message:
          type: string
          description: Giftcard message.
        extension_attributes:
          $ref: '#/components/schemas/gift-card-data-gift-card-option-extension-interface'
      required:
      - giftcard_amount
      - giftcard_sender_name
      - giftcard_recipient_name
      - giftcard_sender_email
      - giftcard_recipient_email
    configurable-product-data-configurable-item-option-value-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\ConfigurableProduct\Api\Data\ConfigurableItemOptionValueInterface
    quote-data-product-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\ProductOptionInterface
      properties:
        custom_options:
          type: array
          items:
            $ref: '#/components/schemas/catalog-data-custom-option-interface'
        bundle_options:
          type: array
          items:
            $ref: '#/components/schemas/bundle-data-bundle-option-interface'
        downloadable_option:
          $ref: '#/components/schemas/downloadable-data-downloadable-option-interface'
        giftcard_item_option:
          $ref: '#/components/schemas/gift-card-data-gift-card-option-interface'
        configurable_item_options:
          type: array
          items:
            $ref: '#/components/schemas/configurable-product-data-configurable-item-option-value-interface'
        grouped_options:
          type: array
          items:
            $ref: '#/components/schemas/grouped-product-data-grouped-options-interface'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
