openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Catalog Product Render List V1 API
  description: Interface which provides product renders information for products.
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: catalogProductRenderListV1
  description: Interface which provides product renders information for products.
paths:
  /V1/products-render-info:
    get:
      tags:
      - catalogProductRenderListV1
      description: Collect and retrieve the list of product render info. This info contains raw prices and formatted prices, product name, stock status, store_id, etc.
      operationId: GetV1Productsrenderinfo
      parameters:
      - name: searchCriteria[filterGroups][0][filters][0][field]
        in: query
        description: Field
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][value]
        in: query
        description: Value
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][conditionType]
        in: query
        description: Condition type
        schema:
          type: string
      - name: searchCriteria[sortOrders][0][field]
        in: query
        description: Sorting field.
        schema:
          type: string
      - name: searchCriteria[sortOrders][0][direction]
        in: query
        description: Sorting direction.
        schema:
          type: string
      - name: searchCriteria[pageSize]
        in: query
        description: Page size.
        schema:
          type: integer
      - name: searchCriteria[currentPage]
        in: query
        description: Current page.
        schema:
          type: integer
      - name: storeId
        in: query
        required: true
        schema:
          type: integer
      - name: currencyCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-data-product-render-search-results-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/catalog-data-product-render-search-results-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 productsrenderinfo
      x-summary-source: derived
components:
  schemas:
    catalog-data-product-render-image-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRender\ImageInterface
    catalog-data-product-render-search-results-interface:
      type: object
      description: Dto that holds render information about products
      properties:
        items:
          type: array
          description: List of products rendered information
          items:
            $ref: '#/components/schemas/catalog-data-product-render-interface'
      required:
      - items
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    weee-data-product-render-weee-adjustment-attribute-interface:
      type: object
      description: List of all weee attributes, their amounts, etc.., that product has
      properties:
        amount:
          type: string
          description: Weee attribute amount
        tax_amount:
          type: string
          description: Tax which is calculated to fixed product tax attribute
        tax_amount_incl_tax:
          type: string
          description: Tax amount of weee attribute
        amount_excl_tax:
          type: string
          description: Product amount exclude tax
        attribute_code:
          type: string
          description: Weee attribute code
        extension_attributes:
          $ref: '#/components/schemas/weee-data-product-render-weee-adjustment-attribute-extension-interface'
      required:
      - amount
      - tax_amount
      - tax_amount_incl_tax
      - amount_excl_tax
      - attribute_code
      - extension_attributes
    catalog-data-product-render-formatted-price-info-interface:
      type: object
      description: 'Formatted Price interface. Aggregate formatted html with price representations. E.g.: <span class="price">$9.00</span> Consider currency, rounding and html'
      properties:
        final_price:
          type: string
          description: Html with final price
        max_price:
          type: string
          description: Max price of a product
        minimal_price:
          type: string
          description: The minimal price of the product or variation
        max_regular_price:
          type: string
          description: Max regular price
        minimal_regular_price:
          type: string
          description: Minimal regular price
        special_price:
          type: string
          description: Special price
        regular_price:
          type: string
          description: Price - is price of product without discounts and special price with taxes and fixed product tax
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-formatted-price-info-extension-interface'
      required:
      - final_price
      - max_price
      - minimal_price
      - max_regular_price
      - minimal_regular_price
      - special_price
      - regular_price
    catalog-data-product-render-price-info-interface:
      type: object
      description: Price interface.
      properties:
        final_price:
          type: number
          description: Final price
        max_price:
          type: number
          description: Max price of a product
        max_regular_price:
          type: number
          description: Max regular price
        minimal_regular_price:
          type: number
          description: Minimal regular price
        special_price:
          type: number
          description: Special price
        minimal_price:
          type: number
          description: Minimal price
        regular_price:
          type: number
          description: Regular price
        formatted_prices:
          $ref: '#/components/schemas/catalog-data-product-render-formatted-price-info-interface'
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-price-info-extension-interface'
      required:
      - final_price
      - max_price
      - max_regular_price
      - minimal_regular_price
      - special_price
      - minimal_price
      - regular_price
      - formatted_prices
    msrp-data-product-render-msrp-price-info-interface:
      type: object
      description: Price interface.
      properties:
        msrp_price:
          type: string
        is_applicable:
          type: string
        is_shown_price_on_gesture:
          type: string
        msrp_message:
          type: string
        explanation_message:
          type: string
        extension_attributes:
          $ref: '#/components/schemas/msrp-data-product-render-msrp-price-info-extension-interface'
      required:
      - msrp_price
      - is_applicable
      - is_shown_price_on_gesture
      - msrp_message
      - explanation_message
    catalog-data-product-render-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRenderInterface
      properties:
        wishlist_button:
          $ref: '#/components/schemas/catalog-data-product-render-button-interface'
        review_html:
          type: string
    catalog-data-product-render-interface:
      type: object
      description: Represents Data Object which holds enough information to render product This information is put into part as Add To Cart or Add to Compare Data or Price Data
      properties:
        add_to_cart_button:
          $ref: '#/components/schemas/catalog-data-product-render-button-interface'
        add_to_compare_button:
          $ref: '#/components/schemas/catalog-data-product-render-button-interface'
        price_info:
          $ref: '#/components/schemas/catalog-data-product-render-price-info-interface'
        images:
          type: array
          description: Enough information, that needed to render image on front
          items:
            $ref: '#/components/schemas/catalog-data-product-render-image-interface'
        url:
          type: string
          description: Product url
        id:
          type: integer
          description: Product identifier
        name:
          type: string
          description: Product name
        type:
          type: string
          description: Product type. Such as bundle, grouped, simple, etc...
        is_salable:
          type: string
          description: Information about product saleability (In Stock)
        store_id:
          type: integer
          description: Information about current store id or requested store id
        currency_code:
          type: string
          description: Current or desired currency code to product
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-extension-interface'
      required:
      - add_to_cart_button
      - add_to_compare_button
      - price_info
      - images
      - url
      - id
      - name
      - type
      - is_salable
      - store_id
      - currency_code
      - extension_attributes
    catalog-data-product-render-image-interface:
      type: object
      description: Product Render image interface. Represents physical characteristics of image, that can be used in product listing or product view
      properties:
        url:
          type: string
          description: Image url
        code:
          type: string
          description: Image code
        height:
          type: number
          description: Image height
        width:
          type: number
          description: Image width in px
        label:
          type: string
          description: Image label
        resized_width:
          type: number
          description: Resize width
        resized_height:
          type: number
          description: Resize height
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-image-extension-interface'
      required:
      - url
      - code
      - height
      - width
      - label
      - resized_width
      - resized_height
    msrp-data-product-render-msrp-price-info-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Msrp\Api\Data\ProductRender\MsrpPriceInfoInterface
    catalog-data-product-render-button-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRender\ButtonInterface
    catalog-data-product-render-button-interface:
      type: object
      description: 'Button interface. This interface represents all manner of product buttons: add to cart, add to compare, etc... The buttons describes by this interface should have interaction with backend'
      properties:
        post_data:
          type: string
          description: Post data
        url:
          type: string
          description: Url, needed to add product to cart
        required_options:
          type: boolean
          description: Flag whether a product has options or not
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-button-extension-interface'
      required:
      - post_data
      - url
      - required_options
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    catalog-data-product-render-formatted-price-info-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRender\FormattedPriceInfoInterface
    catalog-data-product-render-price-info-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRender\PriceInfoInterface
      properties:
        msrp:
          $ref: '#/components/schemas/msrp-data-product-render-msrp-price-info-interface'
        tax_adjustments:
          $ref: '#/components/schemas/catalog-data-product-render-price-info-interface'
        weee_attributes:
          type: array
          items:
            $ref: '#/components/schemas/weee-data-product-render-weee-adjustment-attribute-interface'
        weee_adjustment:
          type: string
    weee-data-product-render-weee-adjustment-attribute-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Weee\Api\Data\ProductRender\WeeeAdjustmentAttributeInterface
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
