openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Quote Guest Coupon Management V1 API
  description: Coupon management interface for guest carts.
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: quoteGuestCouponManagementV1
  description: Coupon management interface for guest carts.
paths:
  /V1/guest-carts/{cartId}/coupons:
    get:
      tags:
      - quoteGuestCouponManagementV1
      description: Return information for a coupon in a specified cart.
      operationId: GetV1GuestcartsCartIdCoupons
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: string
                description: The coupon code data.
            application/xml:
              schema:
                type: string
                description: The coupon code data.
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 guestcarts cart id coupons
      x-summary-source: derived
    delete:
      tags:
      - quoteGuestCouponManagementV1
      description: Delete a coupon from a specified cart.
      operationId: DeleteV1GuestcartsCartIdCoupons
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Delete V1 guestcarts cart id coupons
      x-summary-source: derived
  /V1/guest-carts/{cartId}/coupons/{couponCode}:
    put:
      tags:
      - quoteGuestCouponManagementV1
      description: Add a coupon by code to a specified cart.
      operationId: PutV1GuestcartsCartIdCouponsCouponCode
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      - name: couponCode
        in: path
        required: true
        description: The coupon code data.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Put V1 guestcarts cart id coupons coupon code
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
