openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Async Order Async Payment Information…
  description: Interface AsyncPaymentInformationGuestPublisherInterface
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: asyncOrderAsyncPaymentInformationGuestPublisherV1
  description: Interface AsyncPaymentInformationGuestPublisherInterface
paths:
  /V1/guest-carts/{cartId}/payment-information:
    post:
      tags:
      - asyncOrderAsyncPaymentInformationGuestPublisherV1
      description: Set payment information and place order for a specified cart.
      operationId: PostV1GuestcartsCartIdPaymentinformation
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: integer
                description: Order ID.
            application/xml:
              schema:
                type: integer
                description: Order ID.
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - email
              - paymentMethod
              properties:
                email:
                  type: string
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
                billingAddress:
                  $ref: '#/components/schemas/quote-data-address-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - email
              - paymentMethod
              properties:
                email:
                  type: string
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
                billingAddress:
                  $ref: '#/components/schemas/quote-data-address-interface'
              type: object
              xml:
                name: request
      summary: Post V1 guestcarts cart id paymentinformation
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    sales-rule-data-rule-discount-interface:
      type: object
      description: Rule discount Interface
      properties:
        discount_data:
          $ref: '#/components/schemas/sales-rule-data-discount-data-interface'
        rule_label:
          type: string
          description: Rule Label
        rule_i_d:
          type: integer
          description: Rule ID
      required:
      - discount_data
      - rule_label
      - rule_i_d
    framework-attribute-interface:
      type: object
      description: Interface for custom attribute value.
      properties:
        attribute_code:
          type: string
          description: Attribute code
        value:
          type: string
          description: Attribute value
      required:
      - attribute_code
      - value
    quote-data-payment-interface:
      type: object
      description: Interface PaymentInterface
      properties:
        po_number:
          type: string
          description: Purchase order number
        method:
          type: string
          description: Payment method code
        additional_data:
          type: array
          description: Payment additional details
          items:
            type: string
        extension_attributes:
          $ref: '#/components/schemas/quote-data-payment-extension-interface'
      required:
      - method
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    quote-data-address-interface:
      type: object
      description: Interface AddressInterface
      properties:
        id:
          type: integer
          description: Id
        region:
          type: string
          description: Region name
        region_id:
          type: integer
          description: Region id
        region_code:
          type: string
          description: Region code
        country_id:
          type: string
          description: Country id
        street:
          type: array
          description: Street
          items:
            type: string
        company:
          type: string
          description: Company
        telephone:
          type: string
          description: Telephone number
        fax:
          type: string
          description: Fax number
        postcode:
          type: string
          description: Postcode
        city:
          type: string
          description: City name
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        vat_id:
          type: string
          description: Vat id
        customer_id:
          type: integer
          description: Customer id
        email:
          type: string
          description: Billing/shipping email
        same_as_billing:
          type: integer
          description: Same as billing flag
        customer_address_id:
          type: integer
          description: Customer address id
        save_in_address_book:
          type: integer
          description: Save in address book flag
        extension_attributes:
          $ref: '#/components/schemas/quote-data-address-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - region
      - region_id
      - region_code
      - country_id
      - street
      - telephone
      - postcode
      - city
      - firstname
      - lastname
      - email
    quote-data-address-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\AddressInterface
      properties:
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface'
        gift_registry_id:
          type: integer
        pickup_location_code:
          type: string
    sales-rule-data-discount-data-interface:
      type: object
      description: Discount Data Interface
      properties:
        amount:
          type: number
          description: Amount
        base_amount:
          type: number
          description: Base Amount
        original_amount:
          type: number
          description: Original Amount
        base_original_amount:
          type: number
          description: Base Original Amount
      required:
      - amount
      - base_amount
      - original_amount
      - base_original_amount
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    quote-data-payment-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\PaymentInterface
      properties:
        agreement_ids:
          type: array
          items:
            type: string
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
