openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Integration Admin Token Service V1 API
  description: Interface providing token generation for Admins
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: integrationAdminTokenServiceV1
  description: Interface providing token generation for Admins
paths:
  /V1/integration/admin/token:
    post:
      tags:
      - integrationAdminTokenServiceV1
      description: Create access token for admin given the admin credentials.
      operationId: PostV1IntegrationAdminToken
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: string
                description: Token created
            application/xml:
              schema:
                type: string
                description: Token created
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
              type: object
              xml:
                name: request
      summary: Post V1 integration admin token
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
