openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Checkout Guest Totals Information…
  description: Interface for guest quote totals calculation
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: checkoutGuestTotalsInformationManagementV1
  description: Interface for guest quote totals calculation
paths:
  /V1/guest-carts/{cartId}/totals-information:
    post:
      tags:
      - checkoutGuestTotalsInformationManagementV1
      description: Calculate quote totals based on address and shipping method.
      operationId: PostV1GuestcartsCartIdTotalsinformation
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quote-data-totals-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/quote-data-totals-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - addressInformation
              properties:
                addressInformation:
                  $ref: '#/components/schemas/checkout-data-totals-information-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - addressInformation
              properties:
                addressInformation:
                  $ref: '#/components/schemas/checkout-data-totals-information-interface'
              type: object
              xml:
                name: request
      summary: Post V1 guestcarts cart id totalsinformation
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    quote-data-address-interface:
      type: object
      description: Interface AddressInterface
      properties:
        id:
          type: integer
          description: Id
        region:
          type: string
          description: Region name
        region_id:
          type: integer
          description: Region id
        region_code:
          type: string
          description: Region code
        country_id:
          type: string
          description: Country id
        street:
          type: array
          description: Street
          items:
            type: string
        company:
          type: string
          description: Company
        telephone:
          type: string
          description: Telephone number
        fax:
          type: string
          description: Fax number
        postcode:
          type: string
          description: Postcode
        city:
          type: string
          description: City name
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        vat_id:
          type: string
          description: Vat id
        customer_id:
          type: integer
          description: Customer id
        email:
          type: string
          description: Billing/shipping email
        same_as_billing:
          type: integer
          description: Same as billing flag
        customer_address_id:
          type: integer
          description: Customer address id
        save_in_address_book:
          type: integer
          description: Save in address book flag
        extension_attributes:
          $ref: '#/components/schemas/quote-data-address-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - region
      - region_id
      - region_code
      - country_id
      - street
      - telephone
      - postcode
      - city
      - firstname
      - lastname
      - email
    quote-data-totals-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\TotalsInterface
      properties:
        coupon_label:
          type: string
        base_customer_balance_amount:
          type: number
        customer_balance_amount:
          type: number
        coupon_codes:
          type: array
          items:
            type: string
        coupons_labels:
          type: array
          items:
            type: string
        reward_points_balance:
          type: number
        reward_currency_amount:
          type: number
        base_reward_currency_amount:
          type: number
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    quote-data-totals-item-interface:
      type: object
      description: Interface TotalsItemInterface
      properties:
        item_id:
          type: integer
          description: Item id
        price:
          type: number
          description: Item price in quote currency.
        base_price:
          type: number
          description: Item price in base currency.
        qty:
          type: number
          description: Item quantity.
        row_total:
          type: number
          description: Row total in quote currency.
        base_row_total:
          type: number
          description: Row total in base currency.
        row_total_with_discount:
          type: number
          description: Row total with discount in quote currency. Otherwise, null.
        tax_amount:
          type: number
          description: Tax amount in quote currency. Otherwise, null.
        base_tax_amount:
          type: number
          description: Tax amount in base currency. Otherwise, null.
        tax_percent:
          type: number
          description: Tax percent. Otherwise, null.
        discount_amount:
          type: number
          description: Discount amount in quote currency. Otherwise, null.
        base_discount_amount:
          type: number
          description: Discount amount in base currency. Otherwise, null.
        discount_percent:
          type: number
          description: Discount percent. Otherwise, null.
        price_incl_tax:
          type: number
          description: Price including tax in quote currency. Otherwise, null.
        base_price_incl_tax:
          type: number
          description: Price including tax in base currency. Otherwise, null.
        row_total_incl_tax:
          type: number
          description: Row total including tax in quote currency. Otherwise, null.
        base_row_total_incl_tax:
          type: number
          description: Row total including tax in base currency. Otherwise, null.
        options:
          type: string
          description: Item price in quote currency.
        weee_tax_applied_amount:
          type: number
          description: Item weee tax applied amount in quote currency.
        weee_tax_applied:
          type: string
          description: Item weee tax applied in quote currency.
        extension_attributes:
          $ref: '#/components/schemas/quote-data-totals-item-extension-interface'
        name:
          type: string
          description: Product name. Otherwise, null.
      required:
      - item_id
      - price
      - base_price
      - qty
      - row_total
      - base_row_total
      - options
      - weee_tax_applied_amount
      - weee_tax_applied
    quote-data-totals-interface:
      type: object
      description: Interface TotalsInterface
      properties:
        grand_total:
          type: number
          description: Grand total in quote currency
        base_grand_total:
          type: number
          description: Grand total in base currency
        subtotal:
          type: number
          description: Subtotal in quote currency
        base_subtotal:
          type: number
          description: Subtotal in base currency
        discount_amount:
          type: number
          description: Discount amount in quote currency
        base_discount_amount:
          type: number
          description: Discount amount in base currency
        subtotal_with_discount:
          type: number
          description: Subtotal in quote currency with applied discount
        base_subtotal_with_discount:
          type: number
          description: Subtotal in base currency with applied discount
        shipping_amount:
          type: number
          description: Shipping amount in quote currency
        base_shipping_amount:
          type: number
          description: Shipping amount in base currency
        shipping_discount_amount:
          type: number
          description: Shipping discount amount in quote currency
        base_shipping_discount_amount:
          type: number
          description: Shipping discount amount in base currency
        tax_amount:
          type: number
          description: Tax amount in quote currency
        base_tax_amount:
          type: number
          description: Tax amount in base currency
        weee_tax_applied_amount:
          type: number
          description: Item weee tax applied amount in quote currency.
        shipping_tax_amount:
          type: number
          description: Shipping tax amount in quote currency
        base_shipping_tax_amount:
          type: number
          description: Shipping tax amount in base currency
        subtotal_incl_tax:
          type: number
          description: Subtotal including tax in quote currency
        base_subtotal_incl_tax:
          type: number
          description: Subtotal including tax in base currency
        shipping_incl_tax:
          type: number
          description: Shipping including tax in quote currency
        base_shipping_incl_tax:
          type: number
          description: Shipping including tax in base currency
        base_currency_code:
          type: string
          description: Base currency code
        quote_currency_code:
          type: string
          description: Quote currency code
        coupon_code:
          type: string
          description: Applied coupon code
        items_qty:
          type: integer
          description: Items qty
        items:
          type: array
          description: Totals by items
          items:
            $ref: '#/components/schemas/quote-data-totals-item-interface'
        total_segments:
          type: array
          description: Dynamically calculated totals
          items:
            $ref: '#/components/schemas/quote-data-total-segment-interface'
        extension_attributes:
          $ref: '#/components/schemas/quote-data-totals-extension-interface'
      required:
      - weee_tax_applied_amount
      - total_segments
    sales-rule-data-discount-data-interface:
      type: object
      description: Discount Data Interface
      properties:
        amount:
          type: number
          description: Amount
        base_amount:
          type: number
          description: Base Amount
        original_amount:
          type: number
          description: Original Amount
        base_original_amount:
          type: number
          description: Base Original Amount
      required:
      - amount
      - base_amount
      - original_amount
      - base_original_amount
    sales-rule-data-rule-discount-interface:
      type: object
      description: Rule discount Interface
      properties:
        discount_data:
          $ref: '#/components/schemas/sales-rule-data-discount-data-interface'
        rule_label:
          type: string
          description: Rule Label
        rule_i_d:
          type: integer
          description: Rule ID
      required:
      - discount_data
      - rule_label
      - rule_i_d
    framework-attribute-interface:
      type: object
      description: Interface for custom attribute value.
      properties:
        attribute_code:
          type: string
          description: Attribute code
        value:
          type: string
          description: Attribute value
      required:
      - attribute_code
      - value
    quote-data-total-segment-interface:
      type: object
      description: Interface TotalsInterface
      properties:
        code:
          type: string
          description: Code
        title:
          type: string
          description: Total title
        value:
          type: number
          description: Total value
        area:
          type: string
          description: Display area code.
        extension_attributes:
          $ref: '#/components/schemas/quote-data-total-segment-extension-interface'
      required:
      - code
      - value
    quote-data-total-segment-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\TotalSegmentInterface
      properties:
        tax_grandtotal_details:
          type: array
          items:
            $ref: '#/components/schemas/tax-data-grand-total-details-interface'
        gift_cards:
          type: string
        gw_order_id:
          type: string
        gw_item_ids:
          type: array
          items:
            type: string
        gw_allow_gift_receipt:
          type: string
        gw_add_card:
          type: string
        gw_price:
          type: string
        gw_base_price:
          type: string
        gw_items_price:
          type: string
        gw_items_base_price:
          type: string
        gw_card_price:
          type: string
        gw_card_base_price:
          type: string
        gw_base_tax_amount:
          type: string
        gw_tax_amount:
          type: string
        gw_items_base_tax_amount:
          type: string
        gw_items_tax_amount:
          type: string
        gw_card_base_tax_amount:
          type: string
        gw_card_tax_amount:
          type: string
        gw_price_incl_tax:
          type: string
        gw_base_price_incl_tax:
          type: string
        gw_card_price_incl_tax:
          type: string
        gw_card_base_price_incl_tax:
          type: string
        gw_items_price_incl_tax:
          type: string
        gw_items_base_price_incl_tax:
          type: string
    tax-data-grand-total-details-interface:
      type: object
      description: Interface GrandTotalDetailsInterface
      properties:
        amount:
          type: number
          description: Tax amount value
        rates:
          type: array
          description: Tax rates info
          items:
            $ref: '#/components/schemas/tax-data-grand-total-rates-interface'
        group_id:
          type: integer
          description: Group identifier
      required:
      - amount
      - rates
      - group_id
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    checkout-data-totals-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Checkout\Api\Data\TotalsInformationInterface
    tax-data-grand-total-rates-interface:
      type: object
      description: Interface GrandTotalRatesInterface
      properties:
        percent:
          type: string
          description: Tax percentage value
        title:
          type: string
          description: Rate title
      required:
      - percent
      - title
    quote-data-address-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\AddressInterface
      properties:
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface'
        gift_registry_id:
          type: integer
        pickup_location_code:
          type: string
    quote-data-totals-item-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\TotalsItemInterface
    checkout-data-totals-information-interface:
      type: object
      description: Interface TotalsInformationInterface
      properties:
        address:
          $ref: '#/components/schemas/quote-data-address-interface'
        shipping_method_code:
          type: string
          description: Shipping method code
        shipping_carrier_code:
          type: string
          description: Carrier code
        extension_attributes:
          $ref: '#/components/schemas/checkout-data-totals-information-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - address
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
