openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Payment Services Paypal Complete Order…
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: paymentServicesPaypalCompleteOrderV1
  description: ''
paths:
  /V1/payment-order/completeOrder:
    post:
      tags:
      - paymentServicesPaypalCompleteOrderV1
      description: Rest API endpoint to place an order
      operationId: PostV1PaymentorderCompleteOrder
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - orderId
              properties:
                orderId:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - orderId
              properties:
                orderId:
                  type: string
              type: object
              xml:
                name: request
      summary: Post V1 paymentorder complete order
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
