openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Payment Services Paypal Payment Order…
  description: An interface for the REST WebAPI request to create an order
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: paymentServicesPaypalPaymentOrderRequestV1
  description: An interface for the REST WebAPI request to create an order
paths:
  /V1/guest-carts/{cartId}/payment-order:
    post:
      tags:
      - paymentServicesPaypalPaymentOrderRequestV1
      description: Create a payment order for guest customer
      operationId: PostV1GuestcartsCartIdPaymentorder
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-services-paypal-data-payment-order-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment-services-paypal-data-payment-order-interface'
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - methodCode
              - paymentSource
              - location
              properties:
                methodCode:
                  type: string
                paymentSource:
                  type: string
                location:
                  type: string
                vaultIntent:
                  type: boolean
                threeDSMode:
                  type: string
                  description: '| null $threeDSMode'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - methodCode
              - paymentSource
              - location
              properties:
                methodCode:
                  type: string
                paymentSource:
                  type: string
                location:
                  type: string
                vaultIntent:
                  type: boolean
                threeDSMode:
                  type: string
                  description: '| null $threeDSMode'
              type: object
              xml:
                name: request
      summary: Post V1 guestcarts cart id paymentorder
      x-summary-source: derived
  /V1/guest-carts/{cartId}/payment-order/{id}:
    get:
      tags:
      - paymentServicesPaypalPaymentOrderRequestV1
      description: Get payment order for guest customer
      operationId: GetV1GuestcartsCartIdPaymentorderId
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-services-paypal-data-payment-order-details-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment-services-paypal-data-payment-order-details-interface'
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 guestcarts cart id paymentorder id
      x-summary-source: derived
    post:
      tags:
      - paymentServicesPaypalPaymentOrderRequestV1
      description: Sync payment order for guest customer
      operationId: PostV1GuestcartsCartIdPaymentorderId
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Post V1 guestcarts cart id paymentorder id
      x-summary-source: derived
components:
  schemas:
    payment-services-paypal-data-payment-card-bin-details-interface:
      type: object
      description: ''
      properties:
        bin:
          type: string
          description: Bin
      required:
      - bin
    payment-services-paypal-data-payment-source-details-interface:
      type: object
      description: ''
      properties:
        card:
          $ref: '#/components/schemas/payment-services-paypal-data-payment-card-details-interface'
      required:
      - card
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    payment-services-paypal-data-payment-order-details-interface:
      type: object
      description: Interface PaymentOrderDetailsInterface
      properties:
        payment_source_details:
          $ref: '#/components/schemas/payment-services-paypal-data-payment-source-details-interface'
        id:
          type: string
          description: Payment order id
        mp_order_id:
          type: string
          description: Payment order mpOrderId
        status:
          type: string
          description: Payment order status
        amount:
          type: number
          description: Payment order amount
        currency_code:
          type: string
          description: Payment order currency code
      required:
      - payment_source_details
      - id
      - mp_order_id
      - status
      - amount
      - currency_code
    payment-services-paypal-data-payment-card-details-interface:
      type: object
      description: ''
      properties:
        name:
          type: string
          description: Name
        last_digits:
          type: string
          description: Last digits
        card_expiry_month:
          type: string
          description: Card expiry month
        card_expiry_year:
          type: string
          description: Card expiry year
        bin_details:
          $ref: '#/components/schemas/payment-services-paypal-data-payment-card-bin-details-interface'
      required:
      - name
      - last_digits
      - card_expiry_month
      - card_expiry_year
      - bin_details
    payment-services-paypal-data-payment-order-interface:
      type: object
      description: Interface PaymentOrderInterface
      properties:
        id:
          type: string
          description: Payment order id
        mp_order_id:
          type: string
          description: Payment order mpOrderId
        status:
          type: string
          description: Payment order status
        amount:
          type: number
          description: Payment order amount
        currency_code:
          type: string
          description: Payment order currency code
      required:
      - id
      - mp_order_id
      - status
      - amount
      - currency_code
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
