openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Quote Guest Payment Method Management V1…
  description: Payment method management interface for guest carts.
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: quoteGuestPaymentMethodManagementV1
  description: Payment method management interface for guest carts.
paths:
  /V1/guest-carts/{cartId}/selected-payment-method:
    get:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: Return the payment method for a specified shopping cart.
      operationId: GetV1GuestcartsCartIdSelectedpaymentmethod
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quote-data-payment-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/quote-data-payment-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 guestcarts cart id selectedpaymentmethod
      x-summary-source: derived
    put:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: Add a specified payment method to a specified shopping cart.
      operationId: PutV1GuestcartsCartIdSelectedpaymentmethod
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: integer
                description: Payment method ID.
            application/xml:
              schema:
                type: integer
                description: Payment method ID.
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - method
              properties:
                method:
                  $ref: '#/components/schemas/quote-data-payment-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - method
              properties:
                method:
                  $ref: '#/components/schemas/quote-data-payment-interface'
              type: object
              xml:
                name: request
      summary: Put V1 guestcarts cart id selectedpaymentmethod
      x-summary-source: derived
  /V1/guest-carts/{cartId}/payment-methods:
    get:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: List available payment methods for a specified shopping cart. This call returns an array of objects, but detailed information about each object’s attributes might not be included. See https://developer.adobe.com/commerce/webapi/rest/attributes#GuestPaymentMethodManagementInterface to determine which call to use to get detailed information about all attributes for an object.
      operationId: GetV1GuestcartsCartIdPaymentmethods
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: array
                description: Array of payment methods.
                items:
                  $ref: '#/components/schemas/quote-data-payment-method-interface'
            application/xml:
              schema:
                type: array
                description: Array of payment methods.
                items:
                  $ref: '#/components/schemas/quote-data-payment-method-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 guestcarts cart id paymentmethods
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    quote-data-payment-method-interface:
      type: object
      description: Interface PaymentMethodInterface
      properties:
        code:
          type: string
          description: Payment method code
        title:
          type: string
          description: Payment method title
      required:
      - code
      - title
    quote-data-payment-interface:
      type: object
      description: Interface PaymentInterface
      properties:
        po_number:
          type: string
          description: Purchase order number
        method:
          type: string
          description: Payment method code
        additional_data:
          type: array
          description: Payment additional details
          items:
            type: string
        extension_attributes:
          $ref: '#/components/schemas/quote-data-payment-extension-interface'
      required:
      - method
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    quote-data-payment-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\PaymentInterface
      properties:
        agreement_ids:
          type: array
          items:
            type: string
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
