openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Quote Guest Cart Management V1 API
  description: Cart Management interface for guest carts.
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: quoteGuestCartManagementV1
  description: Cart Management interface for guest carts.
paths:
  /V1/guest-carts:
    post:
      tags:
      - quoteGuestCartManagementV1
      description: Enable an customer or guest user to create an empty cart and quote for an anonymous customer.
      operationId: PostV1Guestcarts
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: string
                description: Cart ID.
            application/xml:
              schema:
                type: string
                description: Cart ID.
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Post V1 guestcarts
      x-summary-source: derived
  /V1/guest-carts/{cartId}/order:
    put:
      tags:
      - quoteGuestCartManagementV1
      description: Place an order for a specified cart.
      operationId: PutV1GuestcartsCartIdOrder
      parameters:
      - name: cartId
        in: path
        required: true
        description: The cart ID.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: integer
                description: Order ID.
            application/xml:
              schema:
                type: integer
                description: Order ID.
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              properties:
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
              type: object
              xml:
                name: request
      summary: Put V1 guestcarts cart id order
      x-summary-source: derived
components:
  schemas:
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    quote-data-payment-interface:
      type: object
      description: Interface PaymentInterface
      properties:
        po_number:
          type: string
          description: Purchase order number
        method:
          type: string
          description: Payment method code
        additional_data:
          type: array
          description: Payment additional details
          items:
            type: string
        extension_attributes:
          $ref: '#/components/schemas/quote-data-payment-extension-interface'
      required:
      - method
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    quote-data-payment-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\PaymentInterface
      properties:
        agreement_ids:
          type: array
          items:
            type: string
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
