openapi: 3.2.0
info:
  version: '2.4'
  title: Magento Enterprise Directory Currency Information Acquirer…
  description: Currency information acquirer interface
servers:
- url: https://www.watchmakergenomics.com/rest/all
tags:
- name: directoryCurrencyInformationAcquirerV1
  description: Currency information acquirer interface
paths:
  /V1/directory/currency:
    get:
      tags:
      - directoryCurrencyInformationAcquirerV1
      description: Get currency information for the store.
      operationId: GetV1DirectoryCurrency
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directory-data-currency-information-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/directory-data-currency-information-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
      summary: Get V1 directory currency
      x-summary-source: derived
components:
  schemas:
    directory-data-currency-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\CurrencyInformationInterface
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    directory-data-exchange-rate-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\ExchangeRateInterface
    directory-data-currency-information-interface:
      type: object
      description: Currency Information interface.
      properties:
        base_currency_code:
          type: string
          description: The base currency code for the store.
        base_currency_symbol:
          type: string
          description: The currency symbol of the base currency for the store.
        default_display_currency_code:
          type: string
          description: The default display currency code for the store.
        default_display_currency_symbol:
          type: string
          description: The currency symbol of the default display currency for the store.
        available_currency_codes:
          type: array
          description: The list of allowed currency codes for the store.
          items:
            type: string
        exchange_rates:
          type: array
          description: The list of exchange rate information for the store.
          items:
            $ref: '#/components/schemas/directory-data-exchange-rate-interface'
        extension_attributes:
          $ref: '#/components/schemas/directory-data-currency-information-extension-interface'
      required:
      - base_currency_code
      - base_currency_symbol
      - default_display_currency_code
      - default_display_currency_symbol
      - available_currency_codes
      - exchange_rates
    directory-data-exchange-rate-interface:
      type: object
      description: Exchange Rate interface.
      properties:
        currency_to:
          type: string
          description: The currency code associated with the exchange rate.
        rate:
          type: number
          description: The exchange rate for the associated currency and the store's base currency.
        extension_attributes:
          $ref: '#/components/schemas/directory-data-exchange-rate-extension-interface'
      required:
      - currency_to
      - rate
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
